body, html{
    height: 100%;
}

*{
    box-sizing: border-box;
}

 .bg-img{
    /*The image used*/
    background-image: url(../images/bus2.jpg);

    /*control the height of the image*/
    min-height: 780px;

    /*centre and scale the image*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content{
  display:inline-block
}


.content h3{
  color: aliceblue;
  font-size: 3vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  text-shadow: var(--text-shadow);
  padding: 16px;
  animation:fadeIn .2s linear backwards .4s;
}


